/**
 * COLORS
 */

$white:						#FFF;
$black:						#000;

$primary-color:				#121416;
$secondary-color:			#030c2f;

$body-background-color:		#222222;
$highlight:					#244f74;
$light-gr: 					#f4f4f4;
$dark-gr:					#333333;