/**
 * GENERIC 
 */

@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Roboto|Nunito);
$base-font-family:		 		"Roboto";
$base-font-size: 				14;
$base-line-height: 				20;
$base-text-color: 				$secondary-color;
$base-spacing-unit:				15px;
$icon-font-size:        		20px;

$inuit-namespace:				null;

$inuit-base-spacing-unit:		$base-spacing-unit;
$inuit-enable-margins:     	 	true;
$inuit-enable-paddings:     	true;
